// パスを修正
@use "../foundation/variables" as var;
@use "../foundation/setting" as set;
@use "../foundation/component";
@use "../foundation/utility";

.contactPage {
  margin-bottom: 72px;
}

.contactPage__twinBtnList {
  display: flex;
  gap: 52px;
}

.contactPage__twinBtnItem {
  width: 209px;
  background-color: var.$blue;
  color: #fff;
  text-align: center;
}

.contactPage__twinBtnItemWhite {
  border: 3px solid var.$blue;
  background-color: #fff;
  color: var.$blue;
  position: relative;

  &::before {
    content: "";
    width: 52px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: -54px;
    background-color: var.$blue;

  }
}

.contactPage__twinText {
  display: block;
}

.contactPage__flex {
  display: flex;
  gap: 52px;
  align-items: center;
  margin-bottom: 62px;
  @include set.mediaQuery(tab){
    flex-direction: column;
  }
}

.contactPage__telNumList {
  font-weight: bold;
  @include set.mediaQuery(tab){
    text-align: center;
  }
}

.contactPage__telNumText {
  margin-bottom: 30px;
}

.contactPage__telNum {
  font-size: 3.2rem;
  margin-bottom: 14px;
}

.contactPage__telNumTime {
  font-size: 1.2rem;
}


.formArea {
  width: 447px;
  font-weight: bold;
}

.formArea__radioAreaTitle {
  margin-bottom: 27px;
}

.formArea__wrapper {
  margin-bottom: 26px;
}

.formArea__checkboxItem:not(:last-child) {
  margin-bottom: 14px;
}


input[type="text"] {
  width: 100%;
  height: 60px;
  background: var.$gray;
  border: 1px solid var.$paleGray;
  color: var.$placeholder;
}

.formArea__required,
.formArea__radioAreaTitle {
  display: block;
  margin-bottom: 27px;

  &::after {
    content: "必須";
  }
}

.formArea__requiredSter {
  color: red;
  margin-right: -5px;
}

.formArea__confirm {
  margin-bottom: 96px;
}


.formArea__submit {
  width: 284px;
  height: 60px;
  background-color: var.$blue;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  line-height: 60px;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 100;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
  }
}


.formArea__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}